.roll-form {
  height: 100%;
  width: 100%;
  color: $text-white;
  overflow-y: scroll;

  .roll-form-title {
    font-size: 2.5rem;
    font-family: $futura;
    padding: 2%;
  }

  form {
    -webkit-appearance: none;
    border-radius: 0;
    padding: 2%;
    display: grid;
    display: flex;
    flex-flow: column;

    .text-input {
      -webkit-appearance: none;
      border-radius: 0;
      margin: 10px 0;
      border: none;
      padding: 10px 1%;
      font-size: 1rem;
      font-family: $avenir-book;
    }

    .form-description {
      textarea {
        -webkit-appearance: none;
        border-radius: 0;
        margin: 10px 0;
        border: none;
        padding: 10px 1%;
        font-size: 1rem;
        height: 200px;
        width: 98%;
        resize: none;
        font-family: $avenir-book;
      }
    }

    .roll-form-buttons {
      margin: 15px 0 0;
      display: flex;
      justify-content: space-around;
      button {
        -webkit-appearance: none;
        border-radius: 0;
        padding: 15px 10%;
        font-size: 1.2rem;
        font-family: $futura;
        border: none;
      }
      .red {
        background: $red;

        &:hover,
        &:focus {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .green {
        background: $green;
        &:hover,
        &:focus {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
