.sidebar {
  display: grid;
  grid-template-areas: "links content";
  grid-template-columns: 55px 220px;
  overflow-y: scroll;

  .navlinks {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: $mac-dark-grey;

    .navbar-link {
      img {
        width: 40px;
        margin: 10px 0;
      }
    }

    .add-roll-btn {
      width: 40px;
      margin: 10px 0;

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }

    button {
      margin: 10px 0;
      -webkit-appearance: none;
      border-radius: 0;
      border: none;
      background: $mac-medium-grey;
      height: 55px;
      font-size: .8rem;

      &:hover,
      &:focus {
        text-decoration: underline;
        cursor: pointer;
        background: $red;
      }
    }
  }

  .sidebar-content {
    background: $mac-mid-dark-grey;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
