.roll-view {
  color: $text-white;
  height: 100%;
  font-size: 1.2rem;

  hr {
    width: 99%;
    border: 0.5px solid $mac-light-grey;
    margin: 15px 0;
  }

  .roll-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: $futura-italic;
    font-size: 1.3rem;

    .roll-title {
      font-size: 2.2rem;
      word-break: break-word;
    }

    .roll-actions {
      display: flex;
      flex-flow: row;
      align-items: baseline;
      justify-content: space-between;
      margin: 0 0 0 10px;

      .roll-edit-btn {
        height: 25px;
        width: 25px;

        &:hover,
        &:focus {
          cursor: pointer;
        }
      }
      .roll-trash-btn {
        height: 25px;
        width: 20px;
        margin: 0 0 0 10px;

        &:hover,
        &:focus {
          cursor: pointer;
        }
      }
    }
  }

  .roll-date {
    font-family: $futura-italic;
    font-size: 1.3rem;
    margin: 0 0 15px 0;
  }

  .roll-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 0 15px 0;
    font-family: $futura-italic;
    font-size: 1.3rem;
  }

  .roll-tags {
    font-family: $futura-italic;
    font-size: 1.3rem;

    .roll-tags-header {
      margin: 0 0 10px 0;
    }

    .roll-tags-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      .roll-tags-item {
        // background: $white;
        // border: 1px solid $mac-light-grey;
        color: $text-black;
        padding: 5px 10px;
        box-shadow: $shadow;
      }
    }
  }

  .roll-notes {
    div:first-child {
      font-size: 1.5rem;
      font-family: $futura-italic;
      margin: 0 0 10px 0;
    }
    .roll-description {
      word-break: break-word;
    }
  }
}
