.roll-exposures {
  .roll-exposures-header {
    display: flex;
    font-family: $futura-italic;
    font-size: 1.5rem;

    .roll-exposures-btn {
      width: 40px;
      height: 40px;
      margin: 0 0 0 15px;

      &:hover,
      &:focus {
        cursor: pointer;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .roll-exposures-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 45px;

    .roll-exposures-item {
      // background: $white;
      color: $text-white;
      padding: 10px;
      margin: 10px;
      // border: 1px solid;
      box-shadow: $shadow;
      height: fit-content;

      .exposure-actions {
        display: flex;
        flex-flow: row;
        align-items: baseline;
        justify-content: space-between;
        width: 45px;
        margin: 0 0 8px auto;

        .edit-btn {
          height: 20px;
          width: 20px;

          &:hover,
          &:focus {
            cursor: pointer;
          }
        }
        .trash-btn {
          height: 20px;
          width: 15px;

          &:hover,
          &:focus {
            cursor: pointer;
          }
        }
      }

      .exposure-header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
      }

      .exposure-stats {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
      }

      .exposure-description {
        word-break: break-word;
      }
    }
  }
}
