@import "./components/navbar.scss";
@import "./components/rolllist.scss";
@import "./components/rollview.scss";
@import "./components/rollexposures.scss";
@import "./components/quickstart.scss";
@import "./components/modal.scss";
@import "./components/dynamicform.scss";

.App {
  height: 100%;
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 275px auto;

  .page-content {
    padding: 2% 5% 0;
    background: $mac-dark-grey;
    position: relative;
    overflow-y: scroll;
  }
}

@media (max-width: 992px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    grid-template-areas: "content";

    .page-content {
      overflow-y: hidden;
      padding: 0 5%;
    }
  }
}
