@import "./components/navbar.scss";
@import "./components/rolllist.scss";
@import "./components/rollview.scss";
@import "./components/rollexposures.scss";
@import "./components/quickstart.scss";
@import "./components/modal.scss";
@import "./components/dynamicform.scss";
@import "./components/deletedialog.scss";
@import "./components/loadingdisplay.scss";
@import "./components/landingpage.scss";
@import "./components/login-register.scss";

.App {
  height: 100%;
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: 275px auto;

  .page-content {
    padding: 2% 5% 0;
    background: $mac-dark-grey;
    position: relative;
    overflow-y: scroll;
  }
}

.disable {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    grid-template-areas: "content";

    .page-content {
      overflow-x: hidden;
      padding: 0 5%;
    }
  }
}
