$nav-link-grey: #555555;
$sidebar-grey: #373737;
$white: #f8f8f8;
$black: #333333;
$dark-grey: #2b2b2b;
$content-background: #464646;
$shadow: 4px 4px 10px 0px #252525;
$light-border: 0px 0px 0px 5px #4a4a4a;

// text
$text-white: #f8f8f8;
$text-black: #000000;
// /text

// colors
$blue: #0974e0;
$green: #24ab79;
$yellow: #f4ad00;
$orange: #e76a21;
$red: #d24444;
// /colors

// macOS
$mac-dark-grey: #1e1e1e;
$mac-dark-highlight: #252525;
$mac-mid-dark-grey: #2d2d2d;
$mac-medium-grey: #656565;
$mac-light-grey: #a9a9a9;
// /macOS

// vsCode
$code-dark-grey: #21252b;
$code-mid-dark-grey: #282c34;
$code-mid-highlight: #868fa0;
$code-medium-grey: #333842;
$code-med-light: #9599a0;
$code-light: #d7dae0;
// /vsCode
