@media (max-width: 992px) {
  .sidebar {
    grid-template-areas: "nav";
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    box-shadow: 0 5px 10px 5px #00000075;
    position: relative;

    .navlinks {
      flex-flow: row;

      .navbar-link {
        margin: 0 10px;
        height: 30px;

        img {
          width: 30px;
          margin: 0;
        }
      }

      .add-roll-btn {
        width: 30px;
        margin: 0 10px;
      }
    }
    .sidebar-content {
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }

  .quick-start-container {
    .quick-start {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;

      .arrow {
        width: 85%;
        height: 5px;
        background: $white;
        margin: 50px 0;
      }
      .text {
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }

  .roll-list-view {
    flex-flow: row;
    height: 100%;

    .roll-list-item {
      min-width: 175px;

      .roll-item-description {
        display: none;
      }
    }
  }

  .roll-view {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 0 0;

    .roll-stats {
      display: flex;
      flex-flow: column wrap;
    }
  }

  .roll-exposures {
    .roll-exposures-list {
      display: flex;
      flex-flow: column wrap;

      .roll-exposures-item {
        background: none;
        color: $white;
        box-shadow: none;
        padding: 5px 10px;
        margin: 5px 10px;

        .exposure-stats {
          margin: 5px 0;
        }

        hr {
          margin: 5px 0;
        }
      }
    }
  }
}
